#SocialLinksDiv {
    margin: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 10px;
}

#p {
    color: #646464;
    font-weight: bold;
    font-size: 14px;
}

#aLink {
    font-weight: normal;
}